* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  body {
    background-color: #4B52DB;
    font-family: 'Poppins', sans-serif;
  }
  
  #wrapper {
    display: inline-block;
    max-width: 800px;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  #logo {
    display: block;
    margin: 0 auto 0px;
    font-size: 33px;
  }
  
  #typed-wrapper {
    font-size: 20px;
    color: #444;
    text-align: center;
  }
    
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  
  .cf:before,
  .cf:after {
    content: " ";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }

  .gif{
    width: 30%;
    height: auto;
  }
  @media only screen and (max-width: 768px) {
      .gif{
        width: 99%;
        height: auto;
      }
  }